@import url('https://cdn.ons.gov.uk/dp-design-system/c44b4f8/css/main.css');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* global fixes for @onsvisual/svelte-components */
/* a {
	color: #206095;
	text-decoration: underline;
}
a:hover {
	color: rgb(0, 60, 87);
} */
