/* Global CSS styles for ELS */
:root {
	--ons-color-highlight-orange-dark: #f56927;
}

.titleblock-transparent .ons-hero__details {
	padding: 1.5rem 0 0.5rem;
}

.legend-sticky {
	z-index: 5;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: var(--ons-color-page-light);
	padding: 0.5em 0;
}

.legend-modals {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
	gap: 0.5rem;
	flex-shrink: 1;
	flex-grow: 0;
	max-width: 50%;
}

.ons-btn + .ons-btn {
	margin: 0;
}

.ons-btn {
	margin: 0 0.5rem 0.5rem 0;
}

.ons-btn-link {
	line-height: 1.3;
	color: var(--ons-color-text-link);
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-position: under;
}

.ons-btn-link:hover,
.ons-btn-link:active {
	color: var(--ons-color-text-link-active) !important;
	text-decoration-thickness: 2px;
}

.ons-btn-link:focus {
	background-color: var(--ons-color-focus) !important;
	box-shadow:
		0 -2px var(--ons-color-focus),
		0 4px var(--ons-color-text);
	color: var(--ons-color-text) !important;
	outline: 3px solid transparent;
	outline-offset: 1px;
	text-decoration: none;
}

.legend-modals > .ons-btn {
	margin: 0;
}

@media (min-width: 740px) {
	.wider-nav-sections .ons-col-4\@m {
		width: 28%;
		max-width: 28%;
	}

	.wider-nav-sections .ons-col-8\@m {
		width: 72%;
		max-width: 72%;
	}

	.legend-modals {
		flex-direction: row;
	}
}

[hidden] {
	display: none !important;
}
